body {
  background: white;
  margin: 0 auto;
  text-align: center;
  font: var(--project-font);
}

.container a {
  text-decoration: none;
  color: rgb(120, 67, 108);
  font-size: 16px;
  margin: 10px 5px 3px 5px;
}
h1 {
  color: var(--primary-color);
  font-size: 78px;
  margin-top: -20px;
  margin-bottom: 2px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 1000;
}

h2 {
  color: black;
  opacity: 80%;
  font-size: 45px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}
h4 {
  font-size: 30px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  margin-bottom: 36px;
}

h3 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  text-align: center;
}

:root {
  --project-font: "Dosis", sans-serif;
  --primary-color: #00455b;
  --secondary-color: hwb(305 82% 13%);
  --page-background: hsl(195, 76%, 84%);
}

.container {
  margin: 0 auto;
  padding: 40px 50px;
  border-radius: 5px;
  box-shadow: hsla(185, 33%, 56%, 0.8) 0px 10px 10px 0;
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
}

.about-button {
  background: rgb(169, 115, 151);
}
.contact-button {
  background: rgb(120, 67, 108);
}
.contact-button:hover {
  color: rgb(169, 115, 151);
}
.about-button:hover {
  color: rgb(120, 67, 108);
}
.introduction {
  display: flex;
}

.about-section {
  text-align: left;
  font-family: var(--project-font);
  font-size: 17px;
  line-height: 1.5;
}

.works-button .btn {
  background: hwb(184 22% 52% / 0.8);
  color: white;
  line-height: 27px;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  font-family: var(--project-font);
}

.row .certificates-link {
  font-weight: 600;
  color: hwb(184 22% 52% / 0.8);
  font-family: var(--project-font);
}

.row .certificates-link:hover {
  text-decoration: underline;
}

.container .certificates_header {
  text-align: center;
  font-weight: 600;
  font: var(--project-font);
  color: #6c757d !important;
  font-size: 20px;
}

.about-me-text {
  color: hwb(184 22% 52% / 0.8);
  font-size: 30px;
  font-family: var(--project-font);
}
.devicon-html5-plain {
  font-size: 2rem;
}
.devicon-css3-plain {
  font-size: 2rem;
}
.devicon-javascript-plain {
  font-size: 2rem;
}
.devicon-vscode-plain {
  font-size: 2rem;
}

.devicon-react-original {
  font-size: 2rem;
}

.devicon-github-original {
  font-size: 2rem;
}
.devicon-bootstrap-plain {
  font-size: 2rem;
}
.about-section a {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  margin: 14px;
  transition: all 200ms ease;
  text-align: center;
  box-shadow: #33193714 0px 8px 8px 0;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-family: var(--project-font);
  text-transform: capitalize;
}
.header {
  margin-top: -20px;
  padding: 10px;
  margin-bottom: 20px;
  /* display: flex;
  justify-content: space-between; */
}

.header .row {
  margin-top: -20px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.row .nav-link {
  display: flex;
  justify-content: flex-end;
}

/* .header .row {
  display: flex;
  justify-content: space-between;
} */

.introduction p {
  font-family: var(--project-font);
  text-align: left;
}
.header a {
  font-size: 20px;
  font-weight: 500;
}

.header a:hover {
  text-decoration: underline;
}

/* a .text-muted:hover {
  text-decoration-style: dotted;
} */
/* .about-text {
  display: flex;
  font-size: 16px;
  justify-content: space-evenly;
  font-family: var(--project-font);
  margin: -5px 0;
}
.about-text p {
  border-radius: 3px;
  background: var(--secondary-color);
  margin: 10px;
  padding: 20px;
  flex: 1;
  text-align: center;
} */

#contact {
  font-size: 25px;
  font-weight: 800;
  margin-top: 20px;
}
#contact a {
  color: rgb(120, 67, 108);
  font-weight: 700;
  font-size: 28px;
  margin: 10px 5px 5px 3px;
}
#contact a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.works-head {
  font-weight: 15px;
}

.footer {
  margin-top: 40px;
  /* display: flex;
  justify-content: space-between; */
}

.footer .fa-lg {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.fa-lg {
  color: hwb(184 22% 52% / 0.8);
}
@media (max-width: 576px) {
  h1 {
    font-size: 52px;
    text-align: center;
    margin-bottom: 90px;
    font-weight: bold;
  }
  h2 {
    font-size: 38px;
  }
  h4 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .container {
    margin: 0 auto;
  }

  .header .row {
    display: flex;
    justify-content: space-evenly;
    margin: 0 -65px;
  }
  .container .about-me-text .mb-1 {
    margin-top: 10px;
  }
  .footer {
    margin-top: -80px;
    margin-bottom: -60px;
  }
  .footer .row {
    display: flex;
    justify-content: space-evenly;
  }

  /* .header .nav-link {
    display: flex;
    justify-content: flex-start;
  } */
  /* .container {
    margin: -10px -2px;
    padding: 110px 70px;
    max-width: 600px;
  }
  body {
    max-height: 1200px;
    width: 380px;
  } */

  /* .header {
    display: flex;
  } */
  .about-text p {
    display: block;
  }
  .about-section {
    margin-bottom: 10px;
  }

  .about-section a {
    padding: 4px 38px;
    font-size: 25px;
  }

  #contact a {
    margin: 0 10px 10px -36px;
  }

  .page-wrap .container {
    height: 1200px;
  }

  .about-text {
    display: block;
    /* padding: 10px 5px 5px 20px; */
    margin: 20px -50px 5px -50px;
  }
}

@media (max-width: 768px) {
  h1 {
    margin-top: -30px;
    margin-bottom: -40px;
  }
  h2 {
    margin-top: -30px;
  }
  h4 {
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .container {
    max-width: 850px;
  }
  .header {
    margin-top: -20px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .about-text p {
    margin: 20px 5px 20px 10px;
    width: 750px;
  }

  .about-text {
    display: flex;
    justify-content: space-between;
    margin: 20px -44px 10px -44px;
  }

  .row {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  #contact a {
    margin: 0 5px 10px 10px;
  }
  #contact {
    margin-top: 40px;
  }
}
