body {
  background: white;
  margin: 0 auto;
  text-align: center;
  font: var(--project-font);
}

h1 {
  color: var(--primary-color);
  font-size: 78px;
  margin-top: -15px;
  margin-bottom: 2px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 1000;
}

h2 {
  color: black;
  opacity: 80%;
  font-size: 45px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}
h4 {
  font-size: 30px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  margin-bottom: 36px;
}

h3 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  text-align: center;
}

:root {
  --project-font: "Dosis", sans-serif;
  --primary-color: #00455b;
  --secondary-color: hwb(305 82% 13%);
  --page-background: hsl(195, 76%, 84%);
}

.container {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 40px 50px;
  border-radius: 5px;
  box-shadow: hsla(185, 33%, 56%, 0.8) 0px 10px 10px 0;
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
}

.container a {
  text-decoration: none;
  color: rgb(120, 67, 108);
  font-size: 16px;
  margin: 10px 5px 3px 5px;
}

.introduction {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -30px;
}

.about-section {
  text-align: left;
  font-family: var(--project-font);
  font-size: 20px;
  line-height: 1.5;
  margin: -25px 5px 15px -20px;
}

.works-button .btn {
  background: hwb(184 22% 52% / 0.8);
  color: white;
  line-height: 27px;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  font-family: var(--project-font);
}

.row .certificates-link {
  font-weight: 600;
  color: hwb(184 22% 52% / 0.8);
  font-family: var(--project-font);
}

.row .certificates-link:hover {
  text-decoration: underline;
}

.container .certificates_header {
  text-align: center;
  font-weight: 600;
  font: var(--project-font);
  color: #6c757d !important;
  font-size: 20px;
}

.about-me-text {
  color: hwb(184 22% 52% / 0.8);
  font-size: 30px;
  font-family: var(--project-font);
}
.devicon-html5-plain {
  font-size: 2rem;
}
.devicon-css3-plain {
  font-size: 2rem;
}
.devicon-javascript-plain {
  font-size: 2rem;
}
.devicon-vscode-plain {
  font-size: 2rem;
}

.devicon-react-original {
  font-size: 2rem;
}

.devicon-github-original {
  font-size: 2rem;
}
.devicon-bootstrap-plain {
  font-size: 2rem;
}
.about-section a {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  margin: 14px;
  transition: all 200ms ease;
  text-align: center;
  box-shadow: #33193714 0px 8px 8px 0;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-family: var(--project-font);
  text-transform: capitalize;
}

.logo {
  display: inline;
}
.header {
  margin-top: -20px;
  padding: 10px;
  margin-bottom: 20px;
  /* display: flex;
  justify-content: space-between; */
}

.header .row {
  margin-top: -20px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.row .nav-link {
  display: flex;
  justify-content: flex-end;
}

.introduction p {
  font-family: var(--project-font);
  text-align: left;
}
.header a {
  font-size: 20px;
  font-weight: 500;
}

.header a:hover {
  color: var(--primary-color) !important;
}

#contact a {
  color: #727b7f;
  font-weight: 700;
  font-size: 38px;
  margin: 10px 5px 5px 3px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}
#contact a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.works-head {
  font-weight: 15px;
}

.row .projects-links {
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: hwb(184 22% 52% / 0.8);
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 18px;
  font-family: var(--project-font);
  margin-top: 20px;
  margin-bottom: 20px;
}

.row .works-text-left {
  font-family: var(--project-font);
  text-align: left;
  font-size: 20px;
  line-height: 1.6;
}

.row .works-text-right {
  font-family: var(--project-font);
  text-align: left;
  font-size: 20px;
  line-height: 1.6;
}

.footer {
  margin-top: -20px;
  margin-bottom: -50px;
}

.footer .fa-lg {
  display: flex;
  justify-content: space-evenly;
  color: hwb(184 22% 52% / 0.8);
  transition: all 100ms ease-in-out;
  padding: 25px 40px;
}

.fa-lg:hover {
  color: var(--primary-color);
}
/* @media (min-width: 576px) {
  .about-section {
    font-size: 40px;
  }
} */
@media (max-width: 601px) {
  h1 {
    font-size: 52px;
    text-align: center;
    margin-bottom: 90px;
    font-weight: bold;
  }
  h2 {
    font-size: 38px;
    margin-bottom: 25px;
  }
  h4 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  img {
    width: 100%;
  }

  .container {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .about-section {
    margin-top: -30px;
    margin-bottom: -30px;
    font-size: 14px !important;
  }

  .header .row {
    display: flex;
    justify-content: space-evenly;
    margin: 0 -65px;
  }

  .header a {
    display: flex;
    justify-content: flex-end;
  }
  .container .about-me-text .mb-1 {
    margin-top: 10px;
  }
  .footer {
    margin-top: -80px;
    margin-bottom: -60px;
  }
  .footer .row {
    display: flex;
    justify-content: space-evenly;
  }

  .about-text p {
    display: block;
  }

  #contact a {
    margin: 10px 20px !important;
  }

  .about-text {
    display: block;
    /* padding: 10px 5px 5px 20px; */
    margin: 20px -50px 5px -50px;
  }
  .certificates_page {
    font-size: 30px;
    margin: 10px 15px 15px 20px;
  }
}

@media (max-width: 900px) {
  h1 {
    margin-top: -30px;
    margin-bottom: -40px;
  }
  h2 {
    margin-top: -30px;
  }
  h4 {
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .container {
    max-width: 850px;
  }
  .header {
    margin-top: -20px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .about-section {
    font-size: 14px !important;
  }
}
.about-text p {
  margin: 20px 5px 20px 10px;
  width: 750px;
}

.about-text {
  display: flex;
  justify-content: space-between;
  margin: 20px -44px 10px -44px;
}

.row {
  margin-top: 40px;
  margin-bottom: 50px;
}
#contact a {
  margin: 0 20px 20px 15px;
}
#contact {
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .about-section {
    font-size: 13px !important;
  }
}

@media (max-width: 913px) {
  .certificates_page {
    font-size: 30px;
    margin: 10px 15px 15px 20px;
  }
}

@media (min-width: 1400px) {
  h3 {
    font-size: 34px !important;
  }
  h4 {
    font-size: 36px !important;
  }
  .about-section {
    font-size: 23px;
  }
}

@media (max-width: 1199px) {
  .about-section {
    font-size: 16.5px !important;
  }
}
@media (min-width: 1200px) {
  .introduction p {
    font-size: 19px !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .row .certificates-link {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px !important;
  }
  .works-button {
    margin-top: -20px;
  }
}

@media (max-width: 991px) {
  .about-section {
    font-size: 12px !important;
  }
  img {
    width: 100%;
  }
}
@media (max-width: 589px) {
  .about-section {
    font-size: 9.5px !important;
  }
  img {
    width: 100%;
  }
}
